body {
  overflow-x: hidden;
  background-color: rgb(153, 164, 239);
}

#form {
  position: relative;
  left: 40rem;
  top: 5rem;
}

#input1 {
}

#input2 {
  margin-top: 2rem;
}

#input3 {
  margin-top: 2rem;
  position: relative;
  right: 4px;
}

#name {
  padding-left: 10px;
  padding-right: 10px;
}

#email {
  padding-left: 10px;
  padding-right: 10px;
}

#work {
  padding-left: 10px;
  padding-right: 10px;
}

#avatar {
  padding-left: 10px;
  padding-right: 10px;
}

#btn {
  width: 75px;
  height: 30px;
  position: relative;
  top: 1rem;
  left: 6rem;
  border: 1px solid;
  border-radius: 1.2rem;
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: black;
  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(176, 127, 222);
  color: whitesmoke;
  border-color: rgb(176, 127, 222);
}

.card {
  width: 18rem;
  height: 20rem;
  border-radius: 1.2rem;
  position: relative;
  top: 8rem;
  left: 40rem;
  background-color: rgb(176, 127, 222);
}

#input4 {
  margin-top: 2rem;
  position: relative;
  left: 5px;
}

#input5 {
  position: relative;
  left: 0.7rem;
  top: 1rem;
}
